*{
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 12px;
}

body{
  background-color: blue;
  color: yellow;
}
div, p{
  font-size: 30px;
  display: inline;
}
